<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File System: EXT4</title>
    <%- include('partials/head') %>
    <script>

        function guardarDatos(){
            // Obtener los valores de almacenamiento total y disponible
        const bloque = document.getElementById('BloqueSize').value;
        const nInodos = document.getElementById('numInodos').value;
        const extents = document.getElementById('extents').value;

        // Enviar los datos de almacenamiento al servidor
        fetch('/guardarDatosExt4', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    bloque: bloque,
                    nInodos: nInodos,
                    extents: extents
                })
            }).then(response => response.json())
        }

    </script>
</head>
<body>

    <%- include('partials/navigation') %>

    <center>
        <h1>Configuración de File System Ext4</h1>

        <div class="container-custom mt-4">
            <form method="post">
                <div class="form-ext">
                    
                    <div class="mb-3">
                        <label for="tamañoBloque" class="form-label">Tamaño de Bloque (KB):</label>
                        <input type="number" class="form-control" id="BloqueSize" name="tamañoBloque" min="0" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="numInodos" class="form-label">Número de Inodos:</label>
                        <input type="number" class="form-control" id="numInodos" name="numInodos" min="0" required>
                    </div>

                    <div class="mb-3">
                        <label for="numBloques" class="form-label">Número de Conjunto de Bloques (Extents):</label>
                        <input type="number" class="form-control" id="extents" name="extents" min="0" required>
                    </div>
                    
                    <div class="text-center">
                        <a href="./opArchivos">
                            <button type="button" class="btn btn-dark me-2" onclick="guardarDatos()">Guardar Configuración</button>
                        </a>
                        
                    </div>
                </div>
            </form>
        </div>
    </center>
</body>
</html>