<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File System: Fat32</title>
    <%- include('partials/head') %>
    <script>

        function guardarDatosFat32(){
        const cluster = document.getElementById('cluster').value;
        const numFat = document.getElementById('numFat').value;
        const nEntradasD = document.getElementById('numEntradasDirectorio').value;
        const soporteLFN = document.getElementById('soporteLongFileName').value;

        // Enviar los datos de almacenamiento al servidor
        fetch('/guardarDatosFat32', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    cluster: cluster,
                    numFat: numFat,
                    nEntradasD: nEntradasD,
                    soporteLFN: soporteLFN
                })
            }).then(response => response.json())
        }

    </script>
</head>
<body>

    <%- include('partials/navigation') %>

    <center>
        <h1>Configuración de File System Fat32</h1>

        <div class="container-custom mt-4">
            <form method="post">
                <div class="form-fat32">
                    
                    <div class="mb-3">
                        <label for="tamañoCluster" class="form-label">Tamaño de Cluster (KB):</label>
                        <input type="number" class="form-control" id="cluster" name="cluster" min="0" required>
                    </div>

                    <div class="mb-3">
                        <label for="numFat" class="form-label">Número de FATs:</label>
                        <input type="number" class="form-control" id="numFat" name="numFat" min="1" value="2" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="numEntradasDirectorio" class="form-label">Número de Entradas de Directorio:</label>
                        <input type="number" class="form-control" id="numEntradasDirectorio" name="numEntradasDirectorio" min="0" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="soporteLongFileName" class="form-label">Soporte para Long File Name (LFN):</label>
                        <select id="soporteLongFileName" name="LongFileName" class="form-select" required>
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    
                    <div class="text-center">
                        <a href="./opArchivos">
                            <button type="button" class="btn btn-dark me-2" onclick="guardarDatosFat32()">Guardar Configuración</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </center>

</body>
</html>