<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="Presentacion">
            
            <center>
                <h1>Sistemas Operativos Sec. 75</h1>
                <h2>File System - Equipo #4</h2>
            <p>
                <br>Daniel Edgardo Morales Lopez<br/>
                <br>Hilda Ester Melendez Henriquez<br/>
                <br>Jasir Esaud Reyes Figueroa<br/>
                <br>Yeferson Alejandro Bonilla Castillo<br/>
            </p>
            </center>
            

        </div>
        
    </div>
</body>
</html>