.container-custom {
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}
.storage-info {
    background-color: #6e6e6e;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.formats img {
    width: 100px;
    height: 100px;
}
.formats p {
    margin-top: 10px;
    font-weight: bold;
}
.buttons button {
    background-color: #6e6e6e;
    border: none;
}