<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Eliminar Archivo
    </button>
  </h2>
  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
       
      <div class="mb-3">
        <label for="nombreArchivo" class="form-label"><strong>Nombre del Archivo:</strong></label>
        <input type="text" class="form-control" id="nombreEliminar" name="nombreEliminar" placeholder="Ingresa el nombre del archivo">
      </div>

      <div class="mb-3">
        <label for="tipoEliminar" class="form-label"><strong>Tipo:</strong></label>
        <select id="tipoEliminar" class="form-select" name="tipoEliminar">
            <option value="carpeta">Carpeta</option>
            <option value="txt">Texto (.txt)</option>
            <option value="docx">Documento (.docx)</option>
            <option value="xlsx">Hoja de Calculo (.xlsx)</option>
            <option value="pptx">Presentación (.pptx)</option>
            <option value="pdf">PDF (.pdf)</option>
        </select>
     </div>

      <div class="mb-3">
        <label for="rutaEliminar" class="form-label"><strong>Ruta:</strong></label>
        <input type="text" class="form-control" id="rutaEliminar" name="rutaEliminar" placeholder="Ingresa la dirección del archivo...">
      </div>

      <div>
        <button type="button" class="btn btn-dark me-2" onclick="eliminarArchivo()">Eliminar Archivo</button>
      </div>

    </div>
  </div>
</div>


