<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed custom-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Mover Archivo
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">

      <form id="moverArchivoForm">
        <div class="mb-3">
          <label for="MovernombreArchivo" class="form-label"><strong>Nombre del Archivo:</strong></label>
          <input type="text" class="form-control" id="MovernombreArchivo" name="nombreArchivo" placeholder="Ingresa el nombre del archivo" required>
        </div>

        <div class="mb-3">
          <label for="tipoArchivo" class="form-label"><strong>Tipo:</strong></label>
          <select id="MovertipoArchivo" class="form-select" name="tipoArchivo" required>
              <option value="carpeta">Carpeta</option>
              <option value="txt">Texto (.txt)</option>
              <option value="docx">Documento (.docx)</option>
              <option value="xlsx">Hoja de C치lculo (.xlsx)</option>
              <option value="pptx">Presentaci칩n (.pptx)</option>
              <option value="pdf">PDF (.pdf)</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="MoverrutaArchivo" class="form-label"><strong>Ruta Actual:</strong></label>
          <input type="text" class="form-control" id="MoverrutaArchivo" name="rutaArchivo" placeholder="Ingresa la direcci칩n actual del archivo..." required>
        </div>

        <div class="mb-3">
          <label for="MovernuevaRutaArchivo" class="form-label"><strong>Ruta Nueva:</strong></label>
          <input type="text" class="form-control" id="MovernuevaRutaArchivo" name="nuevaRutaArchivo" placeholder="Ingresa la nueva direcci칩n para mover el archivo..." required>
        </div>

        <div>
          <button type="submit" class="btn btn-dark me-2">Mover Archivo</button>
        </div>
      </form>

      <!-- Div para mostrar la respuesta del servidor -->
      <div id="respuestaServidor"></div>

    </div>
  </div>
</div>